<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Template</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body style= "">
	<div class="topheader">
		<div class="container">
			<ul class="menu">
				<li><a href="#">Biz Haqimizda</a></li>
				<li><a href="#">редакционная</a></li>
				<li><a href="#">политика</a></li>
				<li><a href="{% url 'contact' %}">kontaktlar</a></li>
			</ul>
			{% include 'valyuta.html'%}
			<ul class="lang">
				<li><a href="">En</a></li>
				<li class="active"><a href="#">Ru</a></li>
				<li><a href="">Uz</a></li>
			</ul>
			<ul class="social">
				<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
				<li><a href="#"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#"><span class="fa fa-telegram"></span></a></li>
				<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			</ul>
		</div>
	</div>
	<nav class="navbar">
  	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<i class="fa fa-close"></i>
				</button>
				<ul class="nav navbar-nav">
					{% for i in ctgs %}
						{% if i.is_menu %}
							{% if i == ctg %}
								<li class="active"><a>{{ i.name }}</a></li>
							{% else %}
								<li><a href="{% url 'ctg' _id=i.id %}">{{ i.name }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>

			</div>
		</div>
	</nav>
	<a href="#" class="bigrek"></a>
	<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>
		
		<ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li class="active">{{ctg.name}}</li>
		</ol>
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="cat_title">{{ ctg.name }}</div>
				<div class="big_fav pop_cat">
					{% if big %}
				<div id="bigfav" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="{{big.img.url}}" alt="...">
								<a href="{% url 'view' pk=big.id %}">
									<div class="carousel-caption">
										<div class="caption_pos">
											<div class="type_news">{{big.ctg.name}}</div>
											<div class="title">{{big.title}}</div>
											<span class="date">{{big.date }}</span>
										</div>
									</div>
								</a>
						</div>
					</div>
					<div class="control">
					<a class="left carousel-control" href="#bigfav" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right carousel-control" href="#bigfav" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
					</div>
				</div>
					{% elif error %}
						<h3>begzod aka ....... </h3>
						<audio src="{% static 'music/begzod_aka.mp3' %}" autoplay loop></audio>
					{% else %}
						<h3>Bu kategoriyaga oid hech narsa topilmadi :( </h3>
						<audio src="{% static 'music/begzod_aka.mp3' %}" autoplay loop></audio>
					{% endif %}
			</div>
				<div class="news_box">
					{% for i in ctg_news%}
						<div class="cat_news">
							<div class="cat_img"><img src="{{i.img.url}}" alt=""></div>
							<a href="{% url 'view' pk=i.id %}">{{i.title}}</a>
							<p> {{i.short_desc }}</p>
							<span class="date">{{i.date | date:"d-F, Y"}}Yil</span>
							<span class="news_type"><i class="fa fa-eye"></i> {{i.view}}</span>
						</div>
					{% endfor %}

					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>											
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="head_title">Qaynoq yangiliklar</div>
				<div id="listnews" class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<ul class="list_news">

									<li>
										<div class="list_img"><img src="{{ctg_new1.0.img.url}}" alt=""></div>
										<a href="#">{{ctg_new1.0.title}}</a>
										<span class="date">{{ctg_new1.0.date.date}}</span>
										<span class="news_type"><i class="fa fa-eye"></i> {{ctg_new1.view}}</span>
									</li>
									<li>
										<div class="list_img"><img src="{{ctg_new1.1.img.url}}" alt=""></div>
										<a href="#">{{ctg_new1.1.title}}</a>
										<span class="date">{{ctg_new1.1.date.date}}</span>
										<span class="news_type"><i class="fa fa-eye"></i> {{ctg_new1.view}}</span>
									</li>
									<li>
										<div class="list_img"><img src="{{ctg_new1.2.img.url}}" alt=""></div>
										<a href="#">{{ctg_new1.2.title}}</a>
										<span class="date">{{ctg_new1.2.date.date}}</span>
										<span class="news_type"><i class="fa fa-eye"></i> {{ctg_new1.view}}</span>
									</li>
									<li>
										<div class="list_img"><img src="{{ctg_new1.2.img.url}}" alt=""></div>
										<a href="#">{{ctg_new1.2.title}}</a>
										<span class="date">{{ctg_new1.2.date.date}}</span>
										<span class="news_type"><i class="fa fa-eye"></i> {{ctg_new1.view}}</span>
									</li>

								</ul>
							</div>
							<div class="item">
								<ul class="list_news">
									{% for i in ctg_news %}
										<li>
											<div class="list_img"><img src="{{i.img.url}}" alt=""></div>
											<a href="#">{{i.title}}</a>
											<span class="date">{{i.date.date}}</span>
											<span class="news_type"><i class="fa fa-pencil"></i> {{i.view}}</span>
										</li>
									{% endfor %}

								</ul>
							</div>
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#listnews" data-slide-to="0" class="active"></li>
							<li data-target="#listnews" data-slide-to="1"></li>
						</ol>
					</div>				
				</div>
				
				<div class="news_box rek">
					<div class="rek_right">
						
					</div>
				</div>
				<div class="subscribe">
					<div class="title">Saytimizga obuna bo'ling <b>1news.uz</b></div>
					<form action="">
						<div class="input-group">
							<input type="text" name="email" placeholder="Email">
							<button class="submit">Obuna bo'lish</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="foot_about">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12"><img src="{% static 'img/logo.png' %}" alt="" class="logo"></div>
				<div class="col-md-6 col-xs-12">
					<div class="title">Biz Haqimizda >>>>></div>
					<p>E'tiboringiz uchun tashakkur !</p>
				</div>
				<div class="col-md-3 col-xs-12 text-right">
					<ul class="social">
						<li><a href="https://instagram.com/Zeki_Abi_/"><span class="fa fa-instagram"></span></a></li>
						<li><a href="https://t.me/zeki704/"><span class="fa fa-telegram"></span></a></li>

						<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<ul class="menu">
				<li><a href="#">о нас</a></li>
				<li><a href="#">контакты</a></li>
				<li><a href="#">редакционная</a></li>
				<li><a href="#">ОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a></li>
				<li><a href="#">СОГЛАШЕНИЕ</a></li>
			</ul>
			<div class="copyright">
				© COPYRIGHT 2017 BY <a href="#">md</a>
			</div>
		</div>
	</footer>
	
	
	
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>