<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>News | View</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>
	<div class="topheader">
		<div class="container">
			<ul class="menu">
				<li><a href="#">Biz Haqimizda</a></li>
				<li><a href="#">редакционная</a></li>
				<li><a href="#">политика</a></li>
				<li><a href="{% url 'contact' %}">kontaktlar</a></li>
			</ul>
			{% include 'valyuta.html'%}
			<ul class="lang">
				<li><a href="">En</a></li>
				<li class="active"><a href="#">Ru</a></li>
				<li><a href="">Uz</a></li>
			</ul>
			<ul class="social">
				<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
				<li><a href="#"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#"><span class="fa fa-telegram"></span></a></li>
				<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			</ul>
		</div>
	</div>
	<nav class="navbar">
  	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<i class="fa fa-close"></i>
				</button>
				<ul class="nav navbar-nav">
					{% for i in ctgs %}
						{% if i.is_menu %}
							{% if i == ctg %}
								<li class="active"><a>{{ i.name }}</a></li>
							{% else %}
								<li><a href="{% url 'ctg' _id=i.id %}">{{ i.name }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>

			</div>
		</div>
	</nav>
	<a href="#" class="bigrek"></a>

	<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>
			{% if not error %}
			<ol class="breadcrumb">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'ctg' _id=new.ctg.id %}">{{ new.ctg.name }}</a></li>
				<li class="active">{{ new.title }}</li>
			</ol>
			<div class="row">
				<div class="col-md-8 col-xs-12">

				<div class="news_box view">
					<div class="view_title">{{ new.title }}</div>
					<span class="date">{{new.date.date }}</span>
					<span class="news_type"><i class="fa fa-pencil"></i> {{new.ctg.name}}</span>
					<span class="news_type"><i class="fa fa-eye"></i> {{new.view}}</span>
					<div class="view_desc">
						<p>{{ new.short_desc }}</p>
					<div id="bigfav" class="carousel slide view_slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="{{ new.img.url }}" alt="...">
							</div>

						</div>
						<div class="control">

						</div>
					</div>
					<p>{{ new.desc }}</p>
				</div>


				<div class="comment">
					<div class="title">Izohlar <i class= "fa fa-comment"> </i> <sub> {{ len_comment }}</sub></div>
					<ul>
						{% for i in comments %}
						<li>
							<div class=" com_img"><img src="{% static 'img/kaliforniya.jpg' %}" alt="" ></div>
							<div class="com_info">
								<div class="author">{{i.user}}</div>
								<p> {{i.comment}}</p>
								<div class="date">{{i.date.date}}</div>
								<hr>
							</div>
						</li>
						{% endfor %}

					</ul>
				<div class="feedback">
					<div class="title">IZOH QOLDIRISH</div>

					<form method="post" >
						{% csrf_token %}
						<input type="text"  style="background-color:#f1f1f1;" name="user" required placeholder="Ismingiz">
						<textarea name="comment"style="background-color:#f1f1f1;"  id="" cols="30" required rows="10" placeholder="Xabar"></textarea>
						<button class="btn add_comment">IZOHNI QO'SHISH </button>
						<div class="add_info">ILTIMOS KOMMENTARIYADA BO'LADIGAN GAPLADAN GAPLASHILAR !!! </div>
					</form>
				</div>


				</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="head_title">Свежие новости</div>
				<div id="listnews" class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<ul class="list_news">
									{% for i in new1 %}
										<li>
											<div class="list_img"><img src="{{i.img.url}}" alt=""></div>
											<a href="{% url 'view' pk=i.id %}">{{i.title}}</a>
											<span class="date">{{i.date.date}}</span>
											<span class="news_type"><i class="fa fa-eye"></i> {{i.title}}</span>
										</li>
									{% endfor %}

								</ul>
							</div>
							<div class="item">
								<ul class="list_news">
									{% for i in new1 %}
										<li>
											<div class="list_img"><img src="{i.img.url}}" alt=""></div>
											<a href="{% url 'view' pk=i.id %}">{{i.title}}</a>
											<span class="date">{{i.date.date}}</span>
											<span class="news_type"><i class="fa fa-pencil"></i>{{i.view}}</span>
										</li>
									{% endfor %}

								</ul>
							</div>
						</div>
					</div>
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#listnews" data-slide-to="0" class="active"></li>
							<li data-target="#listnews" data-slide-to="1"></li>
						</ol>
					</div>				
				</div>
				
				<div class="news_box rek">
					<div class="rek_right">
						
					</div>
				</div>
				<div class="subscribe">
					<div class="title">Saytimizga a'zo bo'ling <b>1news.uz</b></div>
					<form action="">
						<div class="input-group">
							<input type="text" name="email" placeholder="Email">
							<button class="submit">A'zo bo'lish</button>
						</div>
					</form>
				</div>
			</div>
		</div>
			{% else %}
			<h1>Bunaqa yangilik topilmadi </h1>
			{% endif %}
	</div>


	<div class="foot_about">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12"><img src="{% static 'img/logo.png' %}" alt="" class="logo"></div>
				<div class="col-md-6 col-xs-12">
					<div class="title">Biz Haqimizda >>>>></div>
					<p> E'tiboringiz uchun rahmat !</p>
				</div>
				<div class="col-md-3 col-xs-12 text-right">
					<ul class="social">
						<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#"><span class="fa fa-telegram"></span></a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<ul class="menu">
				<li><a href="#">Biz haqimizda</a></li>
				<li><a href="#">Bog'lanish</a></li>
				<li><a href="#">tahririyat</a></li>
				<li><a href="#">MAXFIYLIK SIYOSATI</a></li>
				<li><a href="#">SHARTNOMA</a></li>
			</ul>
			<div class="copyright">
				© COPYRIGHT 2023 BY <a href="#">md</a>
			</div>
		</div>
	</footer>
	
	
	
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
</html>